
.body {
    height: 100%;
    width: 100%;
}

#section1 { background: url(./images/image\ 1.png) 
    center center / cover no-repeat;
            height: 850px;
            margin: 0;
}

.part1 {
    display: flex;
    justify-content: center;
    height: 90%;
}

.container {
    width: 700px;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
}

.H1 {
    color: #FFFFFF;
    font-size: 48px;
    line-height: 26px;
    font-weight: 700;
    font-family: "josefin sans";
    font-style: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 60%;
}

.p-travel {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.8px;
    color: #FFFFFF;
    margin-top: 11px;
}

.search-bar {
    width: 500px;
    height: 60px;
    border: 2px solid #FFFFFF;
}

.search-bar::placeholder {
    font-family: 'Josefin Sans';
    font-style: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #999999;
    opacity: 1;
    text-align: center;
}

.button {
    width: 150px;
    height: 60px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5474fd;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
}

.svg-1 {
    width: 22px;
    height: 24px;
    margin-left: 15px;
}

.wrapper-2 {
    width: 108px;
    height: 46px;
}

.scroll {
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}

.svg-2 {
    width: 17px;
    height: 11px;
}

.nav {
    width: 100%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #5474fd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.H3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ul {
    width: 525px;
    height: 12px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.li {
    text-decoration: none;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.li:hover {
    cursor: pointer;
}

#section2 { background: url(./images/section2.png)
            center center / cover no-repeat; 
            width: 100%;
            height: 685px;
            margin: 0;
}


.H2 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
    grid-row: 3/4;
    grid-column: 2;
    margin: 0;
}

.p-2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    grid-column: 2;
    grid-row: 4;
    margin: 0;
}

.p-2-2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    grid-column: 2;
    grid-row: 6;
    margin: 0;
}

.button-2 {
    width: 228px;
    height: 63px;
    font-family: 'Aleo';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #5474fd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    grid-column: 2;
    grid-row: 7;
}

.button-2:hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 30% 112px 90px 30% 20%;
    grid-template-rows: 117px 95px 76px 8% 8% 15% 45px;
}

.S2I1 {
    grid-column: 4/6;
    grid-row: 2/3;
}

.S2I2 {
    grid-column: 5/6;
    grid-row: 5;
    margin-top: 10px;
}

.section2-5 {
    background: url(./images/S25.png)
    center center / cover no-repeat;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-25 {
    height: 340px;
    display: grid;
    grid-template-rows: 90px 31px 52px;
    grid-template-columns: 125px 50px 175px 105px 60px 140px 173px 80px;
}

.arches {
    grid-row: 3;
    grid-column: 3;
}

.s25s {
    z-index: 1;
    width: 350px;
    height: 160px;
    grid-column: 1;
    grid-row: 4;
}

.i-search {
    width: 350px;
    height: 60px;
}

.p-25 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #E8E8E8;
    text-align: center;
}

.p-25p {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #E8E8E8;
    width: 250px;
}

.ellipse {
    grid-column: 2;
    grid-row: 3;
}

.s25c {
    z-index: 1;
    width: 200px;
    height: 161px;
    grid-column: 5;
    grid-row: 4;
}

.i-check {
    width: 200px;
    height: 60px;
    margin-left: 10px;
}

.ellipse2 {
    grid-column: 6;
    grid-row: 4;
}

.s25t {
    z-index: 1;
    width: 215px;
    height: 174px;
    grid-column: 8;
    grid-row: 4;
}
.ellipse3 {
    grid-column: 9;
    grid-row: 4;
    margin-right: 20px;
}

.section3 { background: url(./images/section3.png)
            center center / cover no-repeat;
            width: 100%;
            height: 700px;
            display: grid;
            grid-template-columns: 330px;
            grid-template-rows: 229px;
}

.card {
    width: 540px;
    height: 371px;
    background-color: #232323;
    opacity: 0.9;
    mix-blend-mode: normal;
    grid-column: 2;
    grid-row: 2;
}

.s3-p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #E8E8E8;
    margin-left: 30px;
}

.s3-p2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 30px;
}

.s3-p3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    width: 508px;
    height: 78px;
    margin-left: 30px;
}

.s3-btn {
    width: 228px;
    height: 63px;
    background-color: #5474fd;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-left: 30px;
    margin-top: 8%;
}

.section4 {
    background: url(./images/section4.png)
    center center / cover no-repeat;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 52%;
    grid-template-rows: 32%;
}

.card2 {
    width: 540px;
    height: 371px;
    background-color: #232323;
    opacity: 0.9;
    mix-blend-mode: normal;
    grid-column: 2;
    grid-row: 2;
}

.section5 {
    background: url(./images/Rectangle\ 4142\ 1.png)
    center center / cover no-repeat;
    width: 100%;
    height: 730px;
}

.s5-h2 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
    width: 100%;
    height: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.s5-h3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fefefe;
    margin-left: 10%;
    margin-top: 5%;
}

.fa-solid {
    color: #5474fd;
    font-size: 36px;
}

.s5-p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    width: 581px;
    height: 161px;
    margin-left: 10%;
}

.quote {
    width: 668px;
    height: 287px;
    background-color: #333333;
}

.s5-card {
    width: 100%;
    height: 486px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer {
    width: 100%;
    height: 271px;
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-h3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.f-p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #FFFFFF;
}