
.body {
    height: 100%;
    width: 100%;
}

#section1 { background: url(./images/image\ 1.png) 
    center center / cover no-repeat;
            height: 850px;
            margin: 0;
}

.part1 {
    display: flex;
    justify-content: center;
    height: 90%;
}

.container {
    width: 700px;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
}

.H1 {
    color: #FFFFFF;
    font-size: 48px;
    line-height: 26px;
    font-weight: 700;
    font-family: "josefin sans";
    font-style: normal;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 60%;
}

.p-travel {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.8px;
    color: #FFFFFF;
    margin-top: 11px;
}

.search-bar {
    width: 500px;
    height: 60px;
    border: 2px solid #FFFFFF;
}

.search-bar::placeholder {
    font-family: 'Josefin Sans';
    font-style: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #999999;
    opacity: 1;
    text-align: center;
}

.button {
    width: 150px;
    height: 60px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5474fd;
    border: 2px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer;
}

.svg-1 {
    width: 22px;
    height: 24px;
    margin-left: 15px;
}

.wrapper-2 {
    width: 108px;
    height: 46px;
}

.scroll {
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}

.svg-2 {
    width: 17px;
    height: 11px;
}

.nav {
    width: 100%;
    height: 80px;
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #5474fd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.H3 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ul {
    width: 525px;
    height: 12px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.li {
    text-decoration: none;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.li:hover {
    cursor: pointer;
}

#section2 { background: url(./images/section2.png)
            center center / cover no-repeat; 
            width: 100%;
            height: 685px;
            margin: 0;
}


.H2 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
    grid-row: 3/4;
    grid-column: 2;
    margin: 0;
}

.p-2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    grid-column: 2;
    grid-row: 4;
    margin: 0;
}

.p-2-2 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    grid-column: 2;
    grid-row: 6;
    margin: 0;
}

.button-2 {
    width: 228px;
    height: 63px;
    font-family: 'Aleo';
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #5474fd;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    grid-column: 2;
    grid-row: 7;
}

.button-2:hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 30% 112px 90px 30% 20%;
    grid-template-rows: 117px 95px 76px 8% 8% 15% 45px;
}

.S2I1 {
    grid-column: 4/6;
    grid-row: 2/3;
}

.S2I2 {
    grid-column: 5/6;
    grid-row: 5;
    margin-top: 10px;
}